body {
      background-color: #FFF6E8;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    }

    .card-cadastro {
      width: 100vw;
      max-width: 400px;
      border-radius: 16px;
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    }

    .btn-principal {
      background-color: #FFC781;
      border: none;
      color: #000;
      font-weight: 600;
      transition: all 0.3s ease;
      border-radius: 8px;
      padding: 8px 16px;
    }

    .btn-principal:hover {
      background-color: #f5b968;
      transform: scale(1.05);
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    }

    .titulo {
      color: #000;
      font-weight: 700;
    }

    .form-control:hover {
      border-color: #FFC781;
    }