   ::-webkit-scrollbar {
       width: 2px;
   }

   ::-webkit-scrollbar-track {
       background: transparent;
   }

   ::-webkit-scrollbar-thumb {
       background: rgba(160, 160, 160, 0.9);
       border-radius: 10px;
   }

   ::-webkit-scrollbar-thumb:hover {
       background: rgba(140, 140, 140, 0.6);
   }
   
   .header-backgroud {
    display: block;
    height: 200px;
    width: 100%;
}

   .lanches body {
       overflow-x: hidden;
       overflow-y: auto;
       height: 100vh;
   }

   .lanches a {
       text-decoration: none;
       color: #222;
       transition: 0.3s;
   }

   .lanches a:hover {
       color: #E9A652;
   }

   .lanches .modal {
       z-index: 2000 !important;
   }

   .lanches .modal-backdrop {
       z-index: 1990 !important;
   }

   .lanches .modal-dialog {
       margin-top: 120px;
   }

   /* ================= CARDS DE PRODUTOS ================= */
   .lanches .produto-card {
       border: none;
       border-radius: 12px;
       box-shadow: 0 4px 10px rgba(135, 75, 0, 0.08);
       transition: transform 0.2s ease, box-shadow 0.2s ease;
       background-color: #fff;
       overflow: hidden;
   }

   .lanches .produto-card:hover {
       transform: translateY(-5px);
       box-shadow: 0 8px 20px rgba(217, 122, 0, 0.15);
   }

   /* O Cofre da Imagem: Daqui a foto não passa! */
   .lanches .produto-img-container {
       width: 100%;
       height: 180px !important;
       /* O !important obriga a manter 180px */
       min-height: 180px;
       padding: 0;
       max-height: 180px;
       display: flex;
       align-items: center;
       justify-content: center;
       background-color: #f9f9f9;
       overflow: hidden;
       /* Se a imagem tentar crescer, ela é cortada */
   }

   /* A foto dentro do cofre */
   .lanches .produto-img {
       width: 100%;
       height: 100%;
       object-fit: cover !important;
       /* Força o encaixe perfeito sem esticar */
       object-position: center !important;
   }

   /* Textos */
   .lanches .produto-titulo {
       font-size: 1.1rem;
       font-weight: 700;
       color: #333;
       margin-bottom: 4px;
   }

   .lanches .cardapio {
       font-weight: 800;

   }

   .lanches .produto-preco {
       font-size: 1.2rem;
       font-weight: 800;
       color: #D97A00;
       display: block;
   }

   /* Descrição com o corte corrigido */
   .lanches .produto-descricao {
       font-size: 0.85rem;
       color: #777;
       margin-bottom: 0;
   }

   .lanches .pagination .page-link {
       color: #ff7b00;
   }

   .lanches .pagination .page-item.active .page-link {
       background-color: #ff7b00;
       border-color: #ff7b00;
       color: white;
   }

   .lanches .banner-img {
       height: 250px;
       object-fit: cover;
       object-position: center;
   }

   @media (min-width: 768px) {
       .lanches .banner-img {
           height: 1000px;
           width: 100%;
       }
   }

   .lanches .btn-carrinho {
       position: fixed;
       bottom: 20px;
       right: 20px;
       z-index: 9999;

       background: #ff7b00;
       color: white;
       border: none;

       padding: 14px 22px;
       border-radius: 50px;
       /* formato pílula */

       font-weight: 600;
       font-size: 16px;

       display: flex;
       align-items: center;
       gap: 10px;

       box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
       cursor: pointer;

       transition: all 0.3s ease;
   }

   .lanches .btn-carrinho:hover {
       background: #e96b00;
       transform: scale(1.05);
   }

   .lanches .badge-carrinho {
       background: red;
       color: white;

       font-size: 12px;
       font-weight: bold;

       padding: 4px 8px;
       border-radius: 50%;

       position: absolute;
       right: 0;
       top: 0;
       transform: translate(30%, -30%);
   }

   @media (max-width: 768px) {
       .lanches .btn-float {
           border-radius: 12px;
           width: auto;
           height: auto;
           padding: 12px 20px;
       }
   }