body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Gradiente marrom para dourado conforme a print */
    background: linear-gradient(180deg, #d19a5a 0%, #8b5a2b 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
}

.login-wrapper {
    width: 100%;
    max-width: 420px;
    text-align: center;
}

.brand-name {
    font-family: 'Pacifico', cursive;
    color: rgb(150, 109, 59);
    font-size: 3.5rem;
    margin-bottom: 30px;
    /* Sombra suave no texto para dar profundidade */
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.1);
}

.login-box {
    background: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
}

.login-header {
    font-family: 'Pacifico', cursive;
    color: rgb(233, 168, 90);
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 25px;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    color: #7b5e4c;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #f3b167;
    border-radius: 10px;
    background-color: #e8f0fe; /* Azul clarinho da print */
    font-size: 1rem;
    box-sizing: border-box;
    outline: none;
}

.input-group input:focus {
    border-color: #d19a5a;
    box-shadow: 0 0 5px rgba(233, 168, 90, 0.5);
}

.captcha-box {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.btn-submit {
    width: 100%;
    padding: 14px;
    background-color: #e9a85a;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.btn-submit:hover {
    background-color: #d19a5a;
    transform: translateY(-2px);
}
.link
{
    color: lightskyblue;
    text-decoration: none;
    transition: all 0.3s ease;
    border: 10px;
}
.link:hover
{
    color: black;
}