body {
    background-color: #f4f4f4;
}

.icon-title {
    font-size: 32px;
    vertical-align: middle;
}

.card-box {
    border: none;
    border-radius: 18px;
    box-shadow: 0 12px 25px rgba(0,0,0,0.1);
}

.foto-perfil {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #FFC781;
}

.info-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 8px;
    color: #555;
    font-size: 15px;
}

.section-title {
    font-weight: 600;
    margin-bottom: 20px;
}

.section-subtitle {
    font-weight: 600;
    margin-bottom: 10px;
    color: #444;
}

.btn-warning {
    background-color: #FFC781;
    border: none;
    font-weight: 600;
}

.btn-warning:hover {
    background-color: #ffb84f;
}

.form-control {
    border-radius: 10px;
}
