<link rel="stylesheet" href="css/nav.css">
<script src="js/nav.js" defer></script>
<nav class="categoria-nav navbar navbar-expand-lg shadow-sm">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuResponsivo" aria-controls="menuResponsivo" aria-expanded="false" aria-label="Alternar navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/" title="Ver todo o cardápio"> 🍔 Cardápio</a>

    <div class="collapse navbar-collapse" id="menuResponsivo">
        <ul id="catNew" class="navbar-nav d-flex align-items-center justify-content-between">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </ul>
    </div>
</nav>