body{
    background:#FAFAFA;
}
.order-card {
    color: #fff;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
    border-radius: 12px;
    box-shadow: 0 12px 25px rgba(0,0,0,0.1);
}

.card:hover {
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    transform: translateY(-5px);
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
    
}
a {
    text-decoration: none;
}